<main-navigator></main-navigator>
<div class="container py-5">
  <h1>List of employees</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" *ngFor="let nameHeaderTable of listNamesHeaderTable">{{ nameHeaderTable }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of customerDetails.listEmployees; let i = index">
        <th scope="row">{{ (i + 1) }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.surname }}</td>
        <td>{{ employee.dni }}</td>
        <td>{{ employee.numberAccount }}</td>
        <td>{{ employee.amount }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ "Interbank" }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <hr>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Send to email
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Send email</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Email:</label>
            <input type="email" class="form-control" id="recipient-name" ng-model="emailToSend">
          </div>
          <div class="form-group">
            <p *ngIf="emailSended" class="text-success">** Email sended</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="sendEmail()">Send email</button>
        </div>
      </div>
    </div>
  </div>
</div>